.react-listbox-select * {
  box-sizing: border-box;
}

.react-listbox-select .filter-module {
  font-size: 15px;
}

.react-listbox-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.react-listbox-select .listbox-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 6px;
}

.react-listbox-select .btn-filter {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  transition: color 0.2s ease 0s;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  padding: 0px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.react-listbox-select .selected .btn-filter {
  background-color: #fff;
}

.react-listbox-select .btn-filter:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 11px;
  height: 11px;
  border: 1px solid rgb(100, 99, 99);
}

.react-listbox-select .selected .btn-filter:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 11px;
  height: 11px;
  border: 1px solid #000;
}

.react-listbox-select .selected .btn-filter:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 11px;
  width: 9px;
  height: 9px;
  background-image: url("./assets/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.react-listbox-select .selected .btn-filter .filter-label {
  color: #000;
}

.react-listbox-select .filter-title {
  padding: 14px 0 2px;
  font-weight: bold;
}
.react-listbox-select .filter-item {
  padding: 6px 0;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  text-align: left;
}

.react-listbox-select .filter-label {
  padding-left: 20px;
  color: rgb(100, 99, 99);
}
.react-listbox-select .filter-checkbox {
  padding-top: 3px;
}
